body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.faq-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.faq-question {
    margin: 0;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    text-align: left;
}

.faq-answer {
    display: none;
    padding: 10px 0;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
}

.faq-question::after {
    content: '\25BA';
    font-size: 18px;
    transition: transform 0.3s ease;
}

.faq-item.open .faq-question::after {
    transform: rotate(90deg);
}

.faq-item.open .faq-answer {
    display: block;
}